<div class='confirmation_wrapper'>
  <div class = 'confirmation_form'>
    <%= form_with model: current_user, class: 'registration_main', local: true do |f| %>
      <%= render "shared/error_messages", model: current_user %>

      <div class = "confirmation_group">
        <div class="confirmation_email">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, placeholder: "必須", autofocus: true, autocomplete: "email" %>
        </div>
        
        <div class="confirmation_nickname">
          <%= f.label :nickname, "ニックネーム" %><br />
          <%= f.text_field :nickname, placeholder: "必須　重複不可", id:"nickname" %>
        </div>
      </div>
      <div class = "confirmation_group">
        <div class="confirmation_prefecture">
          <%= f.label :prefecture, "都道府県" %><br />
          <%= f.text_field :prefecture, placeholder: "必須", id:"prefecture" %>
        </div>

        <div class="confirmation_municipality">
          <%= f.label :municipality, "市区町村" %><br />
          <%= f.text_field :municipality, placeholder: "必須", id:"municipality" %>
        </div>

        <div class="confirmation_address">
          <%= f.label :address, "番地" %><br />
          <%= f.text_field :address, placeholder: "必須", id:"address" %>
        </div>

        <div class="confirmation_building">
          <%= f.label :building, "建物名" %><br />
          <%= f.text_field :building, id:"building" %>
        </div>

        <div class="actions">
          <%= f.submit "変更を適用", class: "confirmation-submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
