<% if current_user.nickname == @user %>
  <div class = "user_edit_btn"><%= link_to "登録情報の変更", edit_user_path %></div>
  </div>
<% end %>

<h1 class = "users_show_title" ><%= "#{@user}さんのイラスト" %></h1>
<ul class = "new_posts">
  <% @illust.each do |illust| %>
    <li class = "main_content">
      <%= link_to illust_path(illust.id) do %>
        <%= image_tag illust.images[0], class: "thumbnail" %><br>
      <% end %>
    </li>
  <% end %>
</ul>
<div class = "to_show_all"><%= link_to '全てのイラストを見る', show_all_illusts_user_path(current_user.id), name: 'illust' %></div>

<h1 class = "users_show_title"><%= "#{@user}さんの小説" %></h1>
<ul class = "new_posts">
  <% @novel.each do |novel| %>
    <li class = "main_novel">
      <%= link_to image_tag("book_title.png"),novel_path(novel.id), class: "novel_image" %>
      <%= link_to novel.title, novel_path(novel.id), class: "new_novel_title" %>
    </li>
  <% end %>
</ul>
<div class = "to_show_all"><%= link_to '全ての小説を見る', show_all_novels_user_path(current_user.id) %></div>

<h1 class = "users_show_title"><%= "#{@user}さんの商品" %></h1>
<ul class = "new_posts">
  <% @product.each do |product| %>
    <li class = "main_content">
      <%= link_to product_path(product.id) do %>
        <%= image_tag product.images[0], class: "thumbnail" %><br>
      <% end %>
    </li>
  <% end %>
</ul>
<div class = "to_show_all"><%= link_to '全ての商品を見る', show_all_products_user_path(current_user.id) %></div>