<div class = "main_wrapper">
    <div class = "main_top">
      <div class = "advertisement">
          広告を設置
      </div>
      <div class = "search_form">
        <div>
          <%= form_with(url: search_novels_path, local: true, method: :get, class: "search_forms") do |f| %>
            <%= f.text_field :keyword, placeholder: "小説を検索する", class: "search_input" %>
            <%= f.submit "検索", class: "search_btn" %>
          <% end %>
        </div>
      </div>
      <div class = "select_ber">
        <div class = "select_btn">
          <%= link_to "イラスト", illusts_path, class: :illust_btn %>
          <%= link_to "小説",  novels_path, class: :novel_btn %>
          <%= link_to "商品", products_path, class: :item_btn %>
        </div>
      </div>
    </div>
    <div class = "main_center">
      <div class = "main_contents">
        <div class = "new_title">
        <a>New Novels!</a>
        </div>
        <ul class = "new_posts">
            <% @novel.each do |novel| %>
              <li class = "main_novel">
                <%= link_to image_tag("book_title.png"),novel_path(novel.id), class: "novel_image" %>
                <%= link_to novel.title, novel_path(novel.id), class: "new_novel_title" %>
              </li>
            <% end %>
        </ul>
        <div class = "ranking_title">
        ranking
        </div>
        <ul class = "ranking_posts">
              <li class = main_content>
                ノベルランキング
              </li>
        </ul>
      </div>
    </div>
</div>