<div class = "main_wrapper">
    <div class = "main_top">
      <div class = "advertisement">
          広告を設置
      </div>
      <div class = "search_form">
        <div>
          <%= form_with(url: search_novels_path, local: true, method: :get, class: "search_forms") do |f| %>
            <%= f.text_field :keyword, placeholder: "小説を検索する", class: "search_input" %>
            <%= f.submit "検索", class: "search_btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class = main_center>
      <ul class = "new_posts">
            <% @novel.each do |novel| %>
              <li class = main_content>
                <%= link_to novel.title, novel_path(novel.id) %>
              </li>
            <% end %>
      </ul>
    </div>
    <div class='pagination'><%= paginate(@novel) %></div>
</div>

  
</div>