<div class='confirmation-wrapper'>
  <div class = 'confirmation-form'>
    <%= form_with model: @user, url: "/users/sign_in", local: true do |f| %>    
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "current-password" %>
        </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "confirmation-submit" %>
      </div>
    <% end %>
  </div>
</div>
