<div class='form-wrap'>
  <div class = 'form'>
    <%= form_with model: @user, url: "/users/sign_in", local: true do |f| %>
    
    <%= render "shared/error_messages", model: @user,url: "/users/sign_in" %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "current-password" %>
        </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>
