<h1>product</h1>
<%# ログイン %>
<div class = "main_wrapper">
  <% if user_signed_in? %>
    <div class = "main_top">
      <div class = "advertisement">
          広告を設置
      </div>
      <div class = "search_form">
        <div>
          <%= form_with(url: search_products_path, local: true, method: :get, class: "search_forms") do |f| %>
            <%= f.text_field :keyword, placeholder: "商品を検索する", class: "search_input" %>
            <%= f.submit "検索", class: "search_btn" %>
          <% end %>
        </div>
      </div>
      <div class = "select_ber">
        <div class = "select_btn">
          <%= link_to "イラスト", illusts_path, class: :illust_btn %>
          <%= link_to "小説",  novels_path, class: :novel_btn %>
          <%= link_to "商品", products_path, class: :item_btn %>
        </div>
      </div>
    </div>
    <div class = main_center>
      <div class = "main_contents">
        <div class = "new_title">
        new!
        </div>
        <ul class = "new_posts">
              <% @product.each do |product| %>
                <li class = main_content>
                  <%= link_to product_path(product.id) do %>
                    <%= image_tag product.images[0], class: "thumbnail" %><br>
                  <% end %>
                </li>
              <% end %>
        </ul>
        <div class = "ranking_title">
        ranking
        </div>
        <ul class = "ranking_posts">
            <% @product.each do |product| %>
              <li class = main_content>
                <%= link_to product_path(product.id) do %>
                  <%= image_tag product.images[0], class: "thumbnail" %><br>
                <% end %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
    <%# 未ログイン %>
    <% else %>
    <h1>アプリ紹介画面表示</h1>
  <%# ログイン分岐終了 %>
  <% end %>
</div>