<div class = "main_wrapper">
    <div class = "main_top">
      <div class = "advertisement">
          広告を設置
      </div>
      <div class = "search_form">
        <div>
          <%= form_with(url: search_products_path, local: true, method: :get, class: "search_forms") do |f| %>
            <%= f.text_field :keyword, placeholder: "商品を検索する", class: "search_input" %>
            <%= f.submit "検索", class: "search_btn" %>
          <% end %>
        </div>
      </div>
      <% if params[:keyword].present? %>
        <div><%= "#{params[:keyword]}の検索結果" %></div>
      <%end%>
      <div class = "select_ber">
        <div class = "select_btn">
          <%= link_to "イラスト", search_illusts_path(keyword: params[:keyword]),method: :get, class: :illust_btn %>
          <%= link_to "小説",  search_novels_path(keyword: params[:keyword]),method: :get, class: :novel_btn %>
          <%= link_to "商品", search_products_path(keyword: params[:keyword]),method: :get, class: :item_btn %>
        </div>
      </div>
    </div>
    <div class = main_center>
      <ul class = "new_posts">
        <% @product.each do |product| %>
          <li class = main_content>
            <%= link_to product_path(product.id) do %>
              <%= image_tag product.images[0], class: "thumbnail" %><br>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='pagination'><%= paginate(@product) %></div>
</div>

  
</div>