<%# ログイン %>
<div class = "main_wrapper">
  <% if user_signed_in? %>
    <div class = "main_top">
      <div class = "advertisement">
          広告を設置
      </div>
      <div class = "search_form">
        <div>
          <%= form_with(url: search_illusts_path, local: true, method: :get, class: "search_forms") do |f| %>
            <%= f.text_field :keyword, placeholder: "イラストを検索する", class: "search_input" %>
            <%= f.submit "検索", class: "search_btn" %>
          <% end %>
        </div>
      </div>
      <div class = "select_ber">
        <div class = "select_btn">
          <%= link_to "イラスト", illusts_path, class: :illust_btn %>
          <%= link_to "小説",  novels_path, class: :novel_btn %>
          <%= link_to "商品", products_path, class: :item_btn %>
        </div>
      </div>
    </div>
    <div class = main_center>
      <div class = "main_contents">
        <div class = "new_title">
          <a>New Illustrations!</a>
        </div>
        <ul class = "new_posts">
              <% @illust.each do |illust| %>
                <li class = main_content>
                  <%= link_to illust_path(illust.id) do %>
                    <%= image_tag illust.images[0], class: "thumbnail" %><br>
                  <% end %>
                </li>
              <% end %>
        </ul>
        <div class = "ranking_title">
        ranking
        </div>
        <ul class = "ranking_posts">
            <% @illust.each do |illust| %>
              <li class = main_content>
                <%= link_to illust_path(illust.id) do %>
                  <%= image_tag illust.images[0], class: "thumbnail" %><br>
                <% end %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
    <%# 未ログイン %>
    <% else %>
    <div class = "intro_wrapper">
      <div class = "intro_texts">
        <div class = "intro_text1", id = "introduce_text1">作成したAI作品を見てもらいたい！</div>
        <div class = "intro_text2", id = "introduce_text2">作成したAI作品を売りたい！</div>
        <div class = "intro_text3", id = "introduce_text3">AI作品をもっと見たい！</div>
        <div class = "intro_text4", id = "introduce_text4">それならラスろう！！</div>
      </div>
      <div class = "intro_logo", id = "introduce_logo">
        <%= image_tag "ailus_logo_big.png" %>
      </div>
    </div>
  <%# ログイン分岐終了 %>
  <% end %>
</div>