<div class = "main_wrapper">
    <div class = "main_top">
      <div class = "advertisement">
          広告を設置
      </div>
      <div class = "search_form">
        <div>
          <%= form_with(url: search_illusts_path, local: true, method: :get, class: "search_forms") do |f| %>
            <%= f.text_field :keyword, placeholder: "イラストを検索する", class: "search_input" %>
            <%= f.submit "検索", class: "search_btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class = main_center>
      <ul class = "new_posts">
            <% @illust.each do |illust| %>
              <li class = main_content>
                <%= link_to illust_path(illust.id) do %>
                  <%= image_tag illust.images[0], class: "thumbnail" %><br>
                 <% end %>
              </li>
            <% end %>
      </ul>
    </div>
    <div class='pagination'><%= paginate(@illust) %></div>
</div>

  
</div>