<h3>詳細ページ</h3>
<div class="posted-content">
  <%= image_tag @illust.images[0], class: "main-image" %><br>
  <details class="other-images">
  <summary>イラストを全て表示</summary>
    <% @illust.images[1..-1].each do |image| %>
      <div class="other-image">
        <%= image_tag image %>
      </div><br>
    <%end%>
  </details>
  <% if user_signed_in? && current_user.id == @illust.user_id %>
      <%= link_to "商品の編集", edit_illust_path(@illust.id), method: :get, class: "edit-btn" %>
      <%= link_to "削除", illust_path(@illust.id), method: :delete, class:"destroy-btn" %>
  <% end %>
  <%= @illust.title%><br>

  <%= @illust.description%>

  <%= @illust.application%>

  <% if @illust.prompt.present? %>
  <%= @illust.prompt%>
  <% end %>

</div>